<!DOCTYPE html>
<html ng-app="bookApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Unspoiled</title>
	<link rel="stylesheet" href="./bower_components/foundation-apps/dist/css/foundation-apps.min.css">
	<link rel="stylesheet" href="./styles/main.css">
	<script src="./bower_components/angular/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
	<script src="./js/modules/book-module.js"></script>
</head>
<body class="grid-frame">
<div class="grid-container app-wrapper" ng-controller="BookListController">

	<div class="title-bar">
	<span class="title left">UNSPOILED</span>
	<span class="right"><a href="#">Log In</a></span>
	</div>
		
	<ul class="grid-block">
		<li class="grid-block series-container" ng-repeat="series in seriesList">

			<!-- Edit a series -->
			<div class="grid-block">
					<img class="series-cover" src="{{series.cover}}" />
			</div>
			<div class="grid-block">
				<div class="grid-content">
					<h3 class="series-title">{{series.title}}</h3>
					<h5 class="series-title">{{series.author}}</h5>
					<h5 class="series-title">{{series.genre}}</h5>
				</div>
			</div>
		</li>
	</ul>

	<form ng-submit="addSeries()">
		<input ng-model="newSeriesTitle" />
		<input ng-model="newSeriesAuthor" />
		<input ng-model="newSeriesGenre" />
		<input ng-model="newSeriesCover" />
		<button type="submit">Add Series</button>
	</form>
</div>
<script src="./bower_components/foundation-apps/dist/js/foundation-apps.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>