body {
	background-color: RGBA(235, 235, 235, 1);
}

li {
	list-style: none;
}

.app-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
}

.series-container {
	width: 650px;
	height: 320px;
	background-color: white;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
}

.series-cover {
	width: 220px;
}

.series-title {
	display: block;
}